http:
  routers:
{% if platform_domain %}
    http-redirect:
      rule: PathPrefix(`/`)
      entryPoints:
        - web
      middlewares:
        - redirect-to-https
      service: noop
      priority: 100
{% endif %}
    backend:
      rule: PathPrefix(`/health`) || PathPrefix(`/api`)
      entryPoints:
{% if platform_domain %}
        - websecure
{% else %}
        - web
{% endif %}
      service: backend
      priority: 10
{% if platform_domain %}
      tls:
        certResolver: letsencrypt
{% endif %}
    frontend:
      rule: PathPrefix(`/`)
      priority: 1
      entryPoints:
{% if platform_domain %}
        - websecure
{% else %}
        - web
{% endif %}
      service: frontend
{% if platform_domain %}
      tls:
        certResolver: letsencrypt
{% endif %}

{% if platform_domain %}
  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: https
        permanent: true
{% endif %}

  services:
    backend:
      loadBalancer:
        servers:
          - url: http://backend:8000
    frontend:
      loadBalancer:
        servers:
          - url: http://frontend:80
{% if platform_domain %}
    noop:
      loadBalancer:
        servers:
          - url: http://127.0.0.1:1
{% endif %}
