entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  file:
    filename: /etc/traefik/dynamic.yml
    watch: true

{% if platform_domain %}
certificatesResolvers:
  letsencrypt:
    acme:
      email: {{ lookup('env', 'EDGE_PLATFORM_ACME_EMAIL') | default('admin@example.com', true) }}
      storage: /acme.json
      httpChallenge:
        entryPoint: web
{% endif %}
