[Interface]
Address = {{ vpn_server_address | default('10.8.0.1/24') }}
ListenPort = {{ listen_port }}
PrivateKey = {{ vpn_server_private_key }}

PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE
